.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

 .logo {
   color: MediumAquamarine;
   display: inline-flex;
 }

 .nav {
   display: inline-flex;
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;display: inline-block;
   justify-content: space-between;
 }

 .column.large {
   width: 630px;
   display: inline-block;
 }

 .column.medium {
   width: 300px;
   display: inline-block;
 }

 .column.small {
   width: 240px;
   display: inline-block;
 }

div {
  border: 1px solid black;
}
