.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

 .logo {
   color: MediumAquamarine;
   display: inline-flex;
 }

 #flex {
   display: flex;
 }

 .column.large {
   width: 630px;
   display: inline-block;
 }

 .column.medium {
   width: 300px;
   display: inline-block;
 }

 .column.small {
   width: 240px;
   display: inline-block;
 }

div {
  border: 1px solid black;
}
