.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

 .logo {
   color: MediumAquamarine;
   display: inline-flex;
 }

 #flex {
   display: flex;
 }

.columns {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

 .columnlarge {
   width: 630px;
   flex-wrap: wrap;
 }

 .columnmedium {
   width: 300px;
 }

 .columnsmall {
   width: 240px;
 }

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main-image {
  background-image: url("images/img-story-main.png");
  height: 300px;
}

.story1image {
  background-image: url("images/img-story-1.png");
  height: 300px;
}

.story2image {
  background-image: url("images/img-story-2.png");
  height: 300px;
}

.story3image {
  background-image: url("images/img-story-3.png");
  height: 300px;
}

.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#bigfont {
  font-size: 40px;
}

.storygroup {
  flex-direction: column;
  display: inline-flex;
  width: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
}
